<div class="card-body">
  <div class="d-flex justify-content-between">
    <div id="project_edit_form_<%= project.id %>">
      <h3 class="card-title">#<%= index + 1 %> - <%= capitalized_word(project.name) %></h3>
    </div>
    <div class="d-flex justify-content-between">
      <% if policy(project).destroy? %>
        <%= link_to 'Delete', project_path(project), method: :delete, class: 'card-text mr-2 project-links' %>
      <% end %>
      <% if policy(project).edit? %>
        <%= link_to 'Edit project', edit_project_path(project), remote: true, class: 'card-text project-links' %>
      <% end %>
    </div>
  </div>
  <%= render 'components/card_task', project: project, tasks: project.tasks %>
</div>
