<%= simple_form_for [@task, @comment] do |f| %>
  <%= f.input :description, label: 'Description' %>
  <%= f.input :file %>
  <%= f.input :file_cache, as: :hidden %>
  <div class="btn btn-primary">
    <%= f.button :button, "Valider et terminer" %>
  </div>
<% end %>
