<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-sm-3">

    <% @projects.each do |project| %>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h6 class="card-title"><%= project.name %></h6>
            <div class="d-flex justify-content-between">
              <%= link_to 'Delete', project_path(project), method: :delete, class: 'card-text mr-2' %>
              <%= link_to 'Edit', edit_project_path(project), remote: true, class: 'card-text' %>
            </div>
          </div>
          <% if project.tasks.empty? %>
            <h5 class="mt-3">No tasks yet</h5>

          <% else %>
            <% project.tasks.each do |task| %>
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="card-text"><%= task.description %></p>
                    <%= render 'tasks/completed', task: task %>
                  </div>
                  <%= task.priority %>
                  <%= task.deadline %>
                  <%= link_to 'Delete', project_task_path(project, task), method: :delete  %>
                  <%= link_to 'Edit', edit_project_task_path(project, task), remote: true %>

                  <% if task.comments.empty? %>
                    <h5 class="mt-3">No comment yet</h5>
                  <% else %>
                    <h5 class="mt-3">Comments</h5>
                    <% task.comments.each do |comment| %>
                      <%= comment.description %>
                      <p class="card-text"><small class="text-muted">By <%= comment.user.first_name %></small></p>
                      <%= link_to "File", comment.file_url %>
                      <%= link_to 'Delete', task_comment_path(task, comment), method: :delete  %>

                      <div class="comment-form"></div>


                    <% end %>
                  <% end %>
                  <%= link_to 'Add comment', new_task_comment_path(task), remote: true %>

                  <%#= render 'comments/show', task: task, comments: task.comments %>
                </div>
              </div>
            <% end %>
          <% end %>

          <div class="task-form"></div>

          <%#= render 'components/card_task', project: project, tasks: project.tasks %>


          <%= link_to 'Add task', new_project_task_path(project), remote: true, class: 'add_task_button' %>

          <hr>
        </div>
      </div>

      <%#= render 'components/card_project', project: project %>
    <% end %>

    </div>
  </div>
</div>

<div class="project-form"></div>

<%= link_to 'Add project', new_project_path, remote: true  %>
